<%- include('partials/header') %>

    <body>
        <div class="quest-container">

            <h2>Questionário <%= questId %>  :</h2>
            <form action="/create" method="POST" class="quest-form">
                <label for="name">Nome completo:</label><br>
                <input type="text" name="name" ><br>
                <label for="dateAns">Data de cadastro:</label><br>
                <input type="date" name="dateAns" >

                <h3>Localização</h3><br>
                <label for="lat">Latitude:</label><br>
                <input type="text" name="lat" ><br>
                <label for="long">Longitude:</label><br>
                <input type="text" name="long" ><br>
                
                <% if(questions.length){ %> 
                    <% questionId = 0; %> 
                    <% questions.forEach(function(item) { %>
                        <label for="<%= questionId %>"> <%= item %>  :</label><br>
                        <input type="text" name="<%= questionId %>" ><br> 
                        <% questionId += 1 %> 
                    <% }) %>
                <% } %>      
                
                <h2>Add new item:</h2>

                <div class="add-form">
                    <input type="text" name="newItem" placeholder="New question" autocomplete="off">
                    <button class="add-btn" type="submit" name="button" value="add" disabled>+</button>
                </div>

                <button class="quest-btn" type="submit" name="button" value="save">Save</button>
            </form>
        </div>

        <script>
            var addElement = document.getElementsByName('newItem');
            addElement[0].addEventListener('input', function(){
                if(addElement[0].value != ""){
                    console.log("disable");
                    document.getElementsByClassName('add-btn')[0].removeAttribute('disabled');
                }else{
                    console.log("enable");
                    document.getElementsByClassName('add-btn')[0].disabled = true;
                }
            });
          </script>

    </body>
</html>